<h2 mat-dialog-title >Current Lease</h2>
<mat-dialog-content class="mat-typography" >
 
  <mat-list dense>
    <mat-list-item> Lease Number: {{data?.leaseNumber}}</mat-list-item>
    <mat-list-item> Start Date: {{data?.leaseNumber}} </mat-list-item>
    <mat-list-item> Term: {{data?.termInMonths}} months </mat-list-item>
    <mat-list-item> Tenant: {{data?.tenant}} </mat-list-item>
    <mat-list-item> Activity: {{data?.activity}} </mat-list-item>
  </mat-list>
 
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Create lease</button>
</mat-dialog-actions>
