<!-- <body class="is-preload"> -->
<!-- <div id="wrapper"> -->

<!-- <body> -->
     
    <header id="header"style="padding: 50px;">
    <div class="logo">
        <mat-icon svgIcon="gem" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <!-- <span class="fas fa-gem"></span> -->
    </div>
    <div class="content">
        <div class="inner">
            <h1>Rent<span style="color: #e83e8c">A</span>ll</h1>
            <p>Fast lease contract management and creation</p>
        </div>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/rentall/Center">Centers</a></li>
            <li><a routerLink="/rentall/Center/units/leases">Leases</a></li>
            <li><a routerLink="/rentall/tenants">Tenants</a></li>
            <li><a routerLink="/rentall/reports">Reports</a></li>
            <!-- <li><a routerLink="/rentall/signin">Sign in</a></li> -->
            <!--<li><a href="#elements">Elements</a></li>-->
        </ul>
    </nav>
</header>

<!-- </body> -->
<!-- </div> -->
<!-- </body> -->