/* div{
    display: flex;
} */

.example-card {
  width: 300px;
  margin: 50px 0 0 50px ;
  float: left;
  }
  
  .example-header-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYkFh0GB145np0GiRFz4oxGY_c8GnxUDMy3g&usqp=CAU');
    background-size: cover;
  }
  