
  <mat-toolbar class="custom-toolbar">
    <div><a routerLink="/rentall" style="text-decoration: none; color:white"><span>RENT<span style="color:#e83e8c;">A</span>LL</span></a></div>
    <div>
    
    <button mat-raised-button color="primary" routerLinkActive="mat-accent" routerLink="/rentall/Center">CENTERS</button>
    <button mat-raised-button color="primary" routerLinkActive="mat-accent" routerLink="/rentall/leases">LEASES</button>
    <button mat-raised-button color="primary" routerLinkActive="mat-accent" routerLink="/rentall/tenants">TENANTS</button>
    <button mat-raised-button color="primary" routerLinkActive="mat-accent" routerLink="/rentall/reports">REPORTS</button>
    <!-- <button mat-raised-button color="primary" routerLinkActive="mat-accent" routerLink="/rentall/signin">SIGN IN</button> -->
  
  
  </div>
  </mat-toolbar>


