.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }


  .sub-entry{
    display: inline-block;
    padding-right: 50px;
    padding-bottom: 30px;
    /* width: 33.33%; */
    /* float: left; */
  }

  input{
    color: white;
  }

  .divider{
    border-bottom: 1px solid black;
  }

  button{
    width: 33.33%;
    float: left;
}