<section style="padding-top: 30px;"  class="create-new-lease">
  <h3 style="color: gainsboro; padding-bottom: 20px">Create new lease:</h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="sub-entry">

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Center:</mat-label>
          <input matInput type="text" formControlName="centerId" />
        </mat-form-field>
      </p>
      
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Lease Number:</mat-label>
          <input matInput type="text" formControlName="leaseNumber" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Tenant:</mat-label>
          <input matInput type="text" formControlName="tenantId" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Activity:</mat-label>
          <input matInput type="text" formControlName="activityId" />
        </mat-form-field>
      </p>
    </div>
    <div class="sub-entry">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Signing Date:</mat-label>
          <input matInput type="date" formControlName="signingDate" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Start Date:</mat-label>
          <input matInput type="date" formControlName="startDate" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Term in months:</mat-label>
          <input matInput type="number" formControlName="termInMonths" />
        </mat-form-field>
      </p>
      
      
    </div>
    <div class="sub-entry">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>End Date:</mat-label>
          <input matInput type="date" formControlName="endDate" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Valid:</mat-label>
          <input matInput type="text" formControlName="valid" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>User:</mat-label>
          <input matInput type="text" formControlName="userId" />
        </mat-form-field>
      </p>
    </div>
    <div>
      <p>
        <button mat-raised-button type="submit" [disabled]="!form.valid">Submit</button>
        <button mat-raised-button mat-form-close type="button">Cancel</button>
        
      </p>
    </div>
  </form>
</section>
