<p>Create new lease</p>
<p>
    <mat-form-field appearance="fill">
      <mat-label>Lease Number</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <div class="example-container">
    <mat-form-field hintLabel="activity" appearance="fill">
      <mat-label>Tenant</mat-label>
      <input matInput #input maxlength="50" placeholder="Detail activity">
      <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Select me</mat-label>
      <mat-select>
        <mat-option value="option">Activity</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
  </div>


  <!-- public string LeaseNumber { get; set; }
  public int TenantId { get; set; }
   public int UserId { get; set; }
    public DateTime SigningDate { get; set; }
  public DateTime StartDate { get; set; }
  public int TermInMonths { get; set; }
  public DateTime EndDate { get; set; }
  public int CenterId { get; set; }
    public bool Valid { get; set; }
  public int ActivityId { get; set; } -->