<app-nav-menu></app-nav-menu>

<h3 class="mat-subheading-2" style="color: gainsboro">
  Units in {{ center?.centerName | uppercase }}
</h3>
<mat-table class="units-table mat-elevation-z8" [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let unit">{{ unit.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="unitCode">
    <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
    <mat-cell class="unitCode-cell" *matCellDef="let unit">{{
      unit.unitCode
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="area">
    <mat-header-cell *matHeaderCellDef>Area</mat-header-cell>
    <mat-cell class="area-cell" *matCellDef="let unit">{{
      unit.area
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="floor">
    <mat-header-cell *matHeaderCellDef>Floor</mat-header-cell>
    <mat-cell class="floor-cell" *matCellDef="let unit">{{
      unit.floor
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
    <mat-cell class="type-cell" *matCellDef="let unit">{{
      unit.type
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="monthlyRentSqm">
    <mat-header-cell *matHeaderCellDef>Rent</mat-header-cell>
    <mat-cell class="monthlyRentSqm-cell" *matCellDef="let unit">{{
      unit.monthlyRentSqm | currency: "EUR":true
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="monthlyMaintenanceCostSqm">
    <mat-header-cell *matHeaderCellDef>CAM</mat-header-cell>
    <mat-cell class="monthlyMaintenanceCostSqm-cell" *matCellDef="let unit">{{
      unit.monthlyMaintenanceCostSqm | currency: "EUR":true
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="monthlyMarketingFeeSqm">
    <mat-header-cell *matHeaderCellDef>Marketing</mat-header-cell>
    <mat-cell class="monthlyMarketingFeeSqm-cell" *matCellDef="let unit">{{
      unit.monthlyMarketingFeeSqm | currency: "EUR":true
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="leaseNumber">
    <mat-header-cell *matHeaderCellDef>Lease Number</mat-header-cell>
    <mat-cell class="leaseNumber-cell" *matCellDef="let unit">{{
      unit.validLease!=null ? unit.validLease.leaseNumber : ""
    }}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef id="actionsHeader"
      >Actions</mat-header-cell
    >
    <mat-cell class="actions-cell" *matCellDef="let unit">
      <button
        mat-stroked-button
        color="accent"
        routerLink="/rentall/Center/{{ unit.center.id }}/units/{{ unit.id }}"
      >Edit</button>

      <button mat-raised-button color="primary" (click)="openDialog(unit.id)">
       Lease
      </button>
     
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="onRowClicked(row)"
  ></mat-row>
</mat-table>

<!-- routerLink="/rentall/Center/{id}/units/{{ unit.id }}/leases/valid" -->
