mat-table {
  width: 100%;
  
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  color: white;
}

.mat-column-actions {
  flex: 0 0 20%;
  
  
}
/* .mat-column-lease {
  flex: 0 0 15%;
  
  
} */



#actionsHeader{
 text-align: center;

}


